*{
    background-color: #d0a367;
    color: green;
    font-family: Arial, Helvetica, sans-serif;

}
img{
    float: left;
    margin-right: 2rem;
    margin-bottom: 2rem;
    

}
.p1{
    clear: left;

}
